:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    --text-primary: black;
    --text-secondary: white;
    --bg-primary: rgb(255, 196, 189);
    --bg-secondary: rgb(255, 162, 162);
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: lightgrey;
}

body::-webkit-scrollbar-thumb {
    background: var(--bg-secondary);
}

main {
    margin-left: 5rem;
    padding: 1rem; 
    padding-bottom: 5rem;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: 150ms ease;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item {
    width: 100%;
    transition: 150ms ease;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: 150ms ease;
}

.link-text{
    display: none;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.nav-item:hover {
    background: var(--bg-secondary);
}

/* In case you only want to highlight the logo on hover
.logo:hover .nav-link{
    color: var(--text-secondary);
}
*/

.nav-link:hover {
    color: var(--text-secondary);
}

.logo {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
    background: var(--bg-secondary);
}
.logo-text {
    margin-left: 1.5rem;
}
.logo svg {
    transform: rotate(0deg);
    transition: transform 300ms;
}
.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.mobile {
    display: none;
}


.footer {
    font-size: 0.8rem;
    margin-left: 5rem;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    margin-top: auto;
    text-align: center;
    margin-top: auto;
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-link {
    text-decoration: none;
    color: var(--text-primary);
}
.footer-link:hover {
    color: var(--text-secondary);
}


.form {
    background-color: var(--bg-primary);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.form-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0.5rem 0rem;
}
.form-item label {
    width: 7rem;
}
.form-input {
    width: 15rem;
    /* so that all iputs are the same size */
    border-width: 1px;
}
.pflichtfelder {
    font-size: 0.8rem;
    text-align: center;
    padding-left: 4rem;
}
/* make button and hint centered */
.form-item:last-child {
    align-items: center;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    /* Fix Navbar to the top */
    .navbar {
        top: 0;
        width: 100vw;
        height: 5rem;
    }
    main {
        margin-left: 0;
        margin-top: 5rem;
    }
    /* Style the new mobile navbar */
    .mobile {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        border-style: none none solid;
        border-width: 3px;
        border-color: var(--text-primary);

    }
    .mobile-item {
        height: 100%;
        transition: 150ms ease;
    }
    .mobile-item:hover {
        background: var(--bg-secondary);
    }
    .mobile-item:hover .mobile-link{
        color: white;
    }
    .mobile-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        height: 5rem;
        color: var(--text-primary);
    }
    .mobile-link svg {
        min-width: 2rem;
        margin: 0 1.5rem;
    }
    .brand {
        width: 100%;
        font-weight: bold;
        font-size: 1.2rem;
        padding-left: 2rem;
        text-align: center;
    }


    /* Style the drop-down menu */
    .logo {
        display: none;
    }
    .navbar-nav {
        display: none;
        padding-top: 1rem;
        height: 16rem;
        background: var(--bg-primary);
        
    } 
    .nav-link {
        justify-content: center;
        height: 3rem;
    }
    .nav-link svg {
        display: none;
    }
    .nav-link .link-text {
        display: block;
    }
    .nav-item:last-child {
        margin-top: 0;
    }
    .navbar-nav.active {
        transition: 300ms ease;
        display: flex;
    }

    /* Style footer */
    .footer {
        margin-left: 0;
        flex-direction: column;
    }
    .seperator {
        display: none;
    }
  
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 15rem;
    }
    .navbar:hover .link-text {
        display: block;
    }
}